.toast-container {
  --radius: 5px;
  --stack-gap: 20px;
  --safe-area-gap: env(safe-area-inset-bottom);

  position: fixed;
  display: block;
  max-width: 468px;
  bottom: calc(var(--safe-area-gap, 0px) + 10px);
  right: 20px;
  z-index: 5000;
  transition: all 0.4s ease;
}
