.container {
  display: flex;
  justify-content: space-between;
}

.detail {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.815);
  height: 80vh;
  width: 27vw;
  padding-left: 3vw;
}

.card {
  position: absolute;
  top: 80%;
  left: 4vw;
}

.toggle {
  padding-bottom: 30px;
  display: flex;
  width: 25vw;
  justify-content: space-between;
  font-size: 28px;
}
